body{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding: 20px;
}

ul{
    border-right: 1px solid gray;
    width: 130px;
    margin: 0;
    padding: 33px;

}

#grid{
    display: grid;
    grid-template-columns: 180px 1fr;
}

#grid ul{

    padding: 33px;
}

@media(max-width: 840px){
    #grid{
    display: block;
    }

    ul{
        border-right :none;
    }

    h1{
        border-bottom: none;
    }
}

#article{
    padding-left: 30px;
    
}